@model EcommerceApp.Application.ViewModels.Cart.CartItemListVM
@{
    ViewData["Title"] = "Cart";
}
<center>
    <h1>@ViewData["Title"]</h1>
    <table class="table-striped table-dark table-sm text-center">
        <thead>
            <tr>
                <th>ProductId</th>
                <th>Name</th>
                <th>Image</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <img src="@item.ImageToDisplay" width="128" height="128" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-area="" asp-controller="Cart"
                        asp-action="DecreaseCartItemQuantityByOne" asp-route-cartItemId="@item.Id"><i class="fas fa-minus"></i></a>
                        @Html.DisplayFor(modelItem => item.Quantity)
                        <a class="btn btn-primary" asp-area="" asp-controller="Cart"
                        asp-action="IncreaseCartItemQuantityByOne" asp-route-cartItemId="@item.Id"><i class="fas fa-plus"></i></a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-area="" asp-controller="Cart" asp-action="DeleteCartItem"
                        asp-route-cartItemId="@item.Id"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            }
            <th>Final Price</th>
            <td>
                @Html.DisplayFor(modelItem => modelItem.TotalPrice)
            </td>
        </tbody>
    </table>
    <a class="btn btn-primary" asp-area="" asp-controller="Order" asp-action="Checkout"
        asp-route-customerId="@Model.CustomerId">To checkout</a>
</center>