@model EcommerceApp.Application.ViewModels.Product.ProductDetailsForUserVM
@{
    ViewData["Title"] = "Product";
}
<div class="row">
    <div class="col text-center my-2">
        <img src="@Model.ImageToDisplay" width="384" height="384" />
    </div>
    <div class="col text-center my-2">
        <div class="card md-4">
            <div class="card rounded">
                <div class="card-header bg-dark text-white">
                    <h1>@Model.Name</h1>
                </div>
                <div class="card-body bg-light">
                    <h4 class="text-danger">@Html.DisplayFor(modelItem => Model.UnitPrice)</h4>
                    @if (Model.UnitsInStock == 0)
                    {
                        <h4 class="text-warning">Product is out of stock</h4>
                    }
                    else
                    {
                        <form class="d-lg-inline">
                            <div class="form-group mx-sm-3 mb-2">
                                <label>Quantity: </label>
                                <input type="number" value="1" min="1" max="@Model.UnitsInStock" name="quantity" step="1">
                                <p>Left in stock: @Model.UnitsInStock</p>
                                <button asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.Id" type="submit"
                                class="btn btn-primary mb-2"><i class="fas fa-cart-plus"></i></button>
                            </div>
                        </form>
                    }
                    <h2><label>Product Description</label></h2>
                    <p>@Model.Description</p>
                </div>
            </div>
        </div>
    </div>
</div>
