@model EcommerceApp.Application.ViewModels.Order.CustomerOrderDetailsVM
@{
    ViewData["Title"] = "Order details";
}
<div class="row">
    <div class="col text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-center">
        <h4>Order details</h4>
        <dl class="dl-horizontal">
            <dt><label asp-for="@Model.Id"></label></dt>
            <dd>@Model.Id</dd>
            <dt><label asp-for="@Model.CreateDate"></label></dt>
            <dd>@Html.DisplayFor(x => Model.CreateDate)</dd>
            <dt><label asp-for="@Model.Price"></label></dt>
            <dd>@Html.DisplayFor(x => Model.Price)</dd>
            <dt><label asp-for="@Model.ShipFirstName"></label></dt>
            <dd>@Model.ShipFirstName</dd>
            <dt><label asp-for="@Model.ShipLastName"></label></dt>
            <dd>@Model.ShipLastName</dd>
            <dt><label asp-for="@Model.ContactEmail"></label></dt>
            <dd>@Model.ContactEmail</dd>
            <dt><label asp-for="@Model.ContactPhoneNumber"></label></dt>
            <dd>@Model.ContactPhoneNumber</dd>
            <dt><label asp-for="@Model.ShipCity"></label></dt>
            <dd>@Model.ShipCity</dd>
            <dt><label asp-for="@Model.ShipPostalCode"></label></dt>
            <dd>@Model.ShipPostalCode</dd>
            <dt><label asp-for="@Model.ShipAddress"></label></dt>
            <dd>@Model.ShipAddress</dd>
        </dl>
    </div>
    <div class="col text-center">
        <h4>Products</h4>
        <table class="table table-striped table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th>Product Id</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderItems)
                {
                    <tr>
                        <td class="align-middle">@Html.DisplayFor(x => item.ProductId)</td>
                        <td class="align-middle">@Html.DisplayFor(x => item.ProductName)</td>
                        <td><img src="@item.ImageToDisplay" width="128" height="128" /></td>
                        <td class="align-middle">@Html.DisplayFor(x => item.Price)</td>
                        <td class="align-middle">@Html.DisplayFor(x => item.Quantity)</td>
                        <td class="align-middle">@Html.DisplayFor(x => item.TotalPrice)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>