@model EcommerceApp.Application.ViewModels.AdminPanel.EmployeeVM
@{
    ViewData["Title"] = "Update Employee";
}
<center>
    <h1>@ViewData["Title"]</h1>
</center>
<span style="float: left;">
    <p>Current employee</p>
    <div>
        <dl class="dl-horizontal">
            <dt>First Name</dt>
            <dd>@Model.FirstName</dd>
            <dt>Last Name</dt>
            <dd>@Model.LastName</dd>
            <dt>Position</dt>
            <dd>@Model.Position</dd>
            <dt>Email</dt>
            <dd>@Model.Email</dd>
        </dl>
    </div>
</span>
<center>
    <span style="float: center;">
        <p>Fill in the fields to update current employee</p>
        <div class="col-md-6">
            <form asp-action="UpdateEmployee">
                <partial name="_EmployeeFormPartial" />
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </span>
</center>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}