@using EcommerceApp.Application.Interfaces
@model EcommerceApp.Application.ViewModels.EmployeePanel.CategoryListVM
@inject ISearchSelectList SearchSelectList
@{
    ViewData["Title"] = "Manage Categories";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p><a class="btn btn-success" asp-area="" asp-controller="EmployeePanel" asp-action="AddCategory">Add Category</a>
    </p>
    <p>
    <form method="get" asp-action="Categories">
        <select asp-items="SearchSelectList.CategorySelectList" name="SelectedValue"></select>
        <input text="text" name="SearchString" />
        <select asp-items="SearchSelectList.PageSizeSelectList" name="PageSize"></select>
        <input type="submit" value="Filter" />
    </form>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Categories)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-area="" asp-controller="EmployeePanel" asp-action="UpdateCategory"
                        asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>

                        <a class="btn btn-danger" asp-area="" asp-controller="EmployeePanel" asp-action="DeleteCategory"
                        asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_PaginationPartial" />
</div>