@model EcommerceApp.Application.ViewModels.CategoryVM
@{
    ViewData["Title"] = "Update Category";
}
<center>
    <h1>@ViewData["Title"]</h1>
    <p>Current category</p>
    <div>
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>@Model.Name</dd>
            <dt>Description</dt>
            <dd>@Model.Description</dd>
            <dt>Image</dt>
            @if (Model.ImageToDisplay == "No photo available")
            {
                <dd>@Model.ImageToDisplay</dd>
            }
            else
            {
                <dd><img src="@Model.ImageToDisplay" width="256" height="256" /></dd>
            }
        </dl>
    </div>
    <p>Fill in the fields to update current category</p>
    <partial name="_CategoryFormPartial" />
</center>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}