@model EcommerceApp.Application.ViewModels.CategoryVM
@{
    ViewData["Title"] = "Update Category";
}
<center>
    <h1>@ViewData["Title"]</h1>
</center>
<span style="float: left">
    <p>Current category</p>
    <div>
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>@Model.Name</dd>
            <dt>Description</dt>
            <dd>@Model.Description</dd>
            <dt>Image</dt>
            @if (Model.ImageToDisplay == "No photo available")
            {
                <dd>@Model.ImageToDisplay</dd>
            }
            else
            {
                <dd><img src="@Model.ImageToDisplay" width="256" height="256" /></dd>
            }
        </dl>
    </div>
</span>
<center>
    <span style="float: center">
        <div class="col-md-6">
            <p>Fill in the fields to update current category</p>
            <form asp-action="UpdateCategory" enctype="multipart/form-data">
                <partial name="_CategoryFormPartial" />
                <button type="submit" class="btn btn-primary">Update Category</button>
            </form>
        </div>
    </span>
</center>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}