@model EcommerceApp.Application.ViewModels.CategoryVM
@{
    ViewData["Title"] = "Update Category";
}
<center>
    <h1>@ViewData["Title"]</h1>
    <p>Current category</p>
    <div>
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>@Model.Name</dd>
            <dt>Description</dt>
            <dd>@Model.Description</dd>
            <dt>Picture</dt>
            <dd>@Model.Picture</dd>
        </dl>
    </div>

    <p>Fill in the fields to update current category</p>
    <div class="col-md-6">
        <form asp-action="UpdateCategory">
            <div class="form-group">
                <label asp-for="@Model.Name"></label>
                <input asp-for="@Model.Name" />
                <p><span asp-validation-for="@Model.Name" class="text-danger"></span></p>
            </div>
            <div class="form-group"> 
                <label asp-for="@Model.Description"></label>
                <input asp-for="@Model.Description" />
                <p><span asp-validation-for="@Model.Description" class="text-danger"></span></p>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Picture"></label>
                <input asp-for="@Model.Picture" />
                 <p><span asp-validation-for="@Model.Picture" class="text-danger"></span></p>
            </div>
            <button type="submit" class="btn btn-primary">Update category</button>
        </form>
    </div>
</center>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}